.app__body{
    background-color: black;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    border-top: 5px solid rgb(53, 52, 52);

}

.app__top video{
    margin: 0.5rem;
    height: 100%;
    width: 350px;
}

.app__top img{
    height: 100%;
    width: 500px;
    margin-right: 5rem;
}

.tv__bg {
    background: url('../../assets/tv.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: 500px;
    
  }

.tv__bg video{
    flex: 1;
    margin-right: 5.5rem;
}

.app__top_next{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 50vh;
    width: 100%;
    border-top: 5px solid rgb(53, 52, 52);


}

.app__top_end{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    border-top: 5px solid rgb(53, 52, 52);

}

.app__footer{
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    min-height: 50vh;
    width: 100%;
    border-top: 5px solid rgb(53, 52, 52);

}

.app__footer p{
    color: white;
    font-size: 20px;
    font-family: var(--font-p);
    

}

.app_end{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.app__top_end h1{
    color: white;
    margin: 2rem;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-family);

}

.app__list_{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}





@media screen and (max-width: 1050px) {

    .app__top_next{
        padding: 7rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 30vh;
        width: 100%;
        border-top: 15px solid rgb(53, 52, 52);
    
    
    }

   


    .app__top_end h1{
        font-size:4rem ;
        margin: 0;
        margin-bottom: 2rem;

    }

    .app__top_end p{
        font-size: 1rem;
    }

    .app__top_end{
        padding: 5rem;
    }
    
  .app__top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    border-top: 15px solid rgb(53, 52, 52);

    }
    .tv__bg {
        background: url('../../assets/tv.png');
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: scroll;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-width: 300px;
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }

    .tv__bg video{
        width: 200px;
        flex: 1;
        margin-bottom: 1rem;

    }
    .app__top img{
        height: 100%;
        width: 300px;
        margin-right: 5rem;
    }

    .app__footer{
        padding: 4rem;
        display: flex;
        justify-content: flex-start;
        min-height: 50vh;
        width: 100%;
        border-top: 15px solid rgb(53, 52, 52);
    
    }


    
}

@media screen and (max-width: 650px){

    .app__top_next{
        padding: 6rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 30vh;
        width: 100%;
        border-top: 15px solid rgb(53, 52, 52);
    
    
    }

    .app__top_end h1{
        font-size:2rem ;
        margin: 2rem;
       

    }

    .app__top_end p{
        font-size: 1rem;
    }

    .app__top_end{
        padding: 1rem;
    }

    .app__top img{
        height: 100%;
        width: 300px;
        margin-right: 0rem;
    }
    

    .app__top{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly ;
        min-height: 70vh;
        width: 100%;
        border-top: 15px solid rgb(53, 52, 52);
    
        }

}

@media screen and (max-width: 400px){

    .app__top_next{
        padding: 5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 10vh;
        width: 100%;
        border-top: 15px solid rgb(53, 52, 52);
    
    
    }

    .app__footer{
        padding: 1rem;
    }

    .app__top img{
        height: 100%;
        width: 300px;
        margin-right: 0rem;
    }

    .app__top_end p{
        font-size: 2rem;
    }

    .app__top_end{
        padding: 0.5rem;
    }

    .app__top_end h1{
        font-size: 30px;
    }

    .app__top img{
        height: 100%;
        width: 300px;
        margin-right: 0rem;
    }
    

    .app__top{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly ;
        min-height: 80vh;
        width: 100%;
        border-top: 15px solid rgb(53, 52, 52);
    
        }

}

