
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Signika+Negative&display=swap');


:root {
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;
    --font-family: 'Sedgwick Ave Display', cursive;
    --font-p: 'Signika Negative', sans-serif;
    
    --color-golden: #DCCA87;
    --color-black: #000000;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-white: #FFFFFF;
    --color-red: rgba(229, 9, 20, 1);
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }